.layout {
  display: flex;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.main {
  flex: 1;
  margin-left: 280px;
  padding: 32px;
  max-width: 1400px;
  
  @media (max-width: 1024px) {
    margin-left: 0;
    padding: 16px;
  }
}




