.LoadingInitial {
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: #f0f3f5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 33vh;
}
