.slick-initialized {
    background: #4690bf !important;
    height: 100% !important;
}


/*------------------------------------*\
    SOCIAL BUTTONS
\*------------------------------------*/

.a-social-buttons {
    text-align: center;
    margin-top: 25px;
    display: inline-flex;
    width: 100%;
}

.a-social-buttons li {
    display: inline-block;
    margin: 0 2px;
}

/*------------------------------------*\
    COMPONENTS BUTTONS
\*------------------------------------*/

.m-nav {
    background: #FAFAFA;
    display: flex;
    margin-bottom: 2rem;
}
.container {
    margin: 0 auto;
    max-width: 1280px;
    width:85%;
}
.a-typo-introduction__content {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}

.a-btn {
    text-decoration: none;
    color: #fff;
    background-color: grey;
    text-align: center;
    letter-spacing: .5px;
    cursor: pointer;
}

.a-typo-introduction__principal {
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    color: #29b6f6;
}

/*  */