.linkedInButton {
  background-color: #fff;
  align-items: center;
  color: #7b8a94;
  border-radius: 24px;
  font-size: 14px;
  border: solid 1px rgba(33, 71, 97, 0.4);
  display: flex;
  padding: 8px 16px;
}

.icon {
  align-self: flex-start;
  margin: 0 10px 0 0;
}

