.circularProgress {
  display: inline-block;
  width: 48px;
  height: 48px;
  color: #2298e9;
}

.svg {
  display: block;
  width: 100%;
  height: 100%;
}

.circle {
  stroke: currentColor;
  stroke-dasharray: 80px, 200px;
  stroke-dashoffset: 0;
  animation: circularProgress 1.4s ease-in-out infinite;
}

@keyframes circularProgress {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }
  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}

