.dividerWrapper {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  color: #9e9e9e; // colorNeutral500 equivalent
  letter-spacing: 2.5px;
}

.dividerElement {
  width: 40%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.12);
}

